APP_NAME="Autogestión PDP"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE='America/Lima'
APP_URL=http://localhost
ASSET_URL=http://localhost
DEBUGBAR_ENABLED=false
ASSET_PREFIX=
# ASSET_PREFIX=/dev/fila/public example incase deployed inside a folder

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

# FILAMENT_LOG_VIEWER_DRIVER=raw
LOG_CHANNEL=single
LOG_STACK=single
# LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5434
DB_DATABASE=autogestion_pdp
DB_USERNAME=sail
DB_PASSWORD=password
FORWARD_DB_PORT=5434

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6381

FORWARD_REDIS_PORT=6381

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"
VITE_PORT=5175

PULSE_INGEST_DRIVER=redis
PULSE_DASHBOARD_ENABLED=true
PULSE_REDIS_CONNECTION=pulse
BACKUP_ARCHIVE_PASSWORD=
MAIL_TO_BACKUP_NOTIFICATION=

WSP_BASE_URL=
WSP_TOKEN=

WSP_BASE_URL=
WSP_TOKEN=
