services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: app-prod
        restart: always
        volumes:
            - ./:/var/www/html
        networks:
            - internal
        depends_on:
            - pgsql

    pgsql:
        image: 'postgres:17-alpine'
        container_name: pgsql-prod
        restart: always
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'autogestion-pgsql:/var/lib/postgresql/data'
        networks:
            - internal
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 5
            timeout: 5s

    nginx:
        image: nginx:stable
        container_name: nginx-prod
        restart: always
        ports:
            - '8090:8090'
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - internal

networks:
    internal:
        driver: bridge

volumes:
    autogestion-pgsql:
        driver: local
