services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: app-prod
        restart: always
        volumes:
            - ./:/var/www/html
        networks:
            - internal

    nginx:
        image: nginx:stable
        container_name: nginx-prod
        restart: always
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/nginx/ssl:/etc/letsencrypt # certificados
        depends_on:
            - app
        networks:
            - internal

    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - ./docker/nginx/ssl:/etc/letsencrypt
            - ./docker/nginx/www:/var/www/certbot
        entrypoint: '/bin/sh'
        networks:
            - internal

networks:
    internal:
        driver: bridge
